name: Ejercicio 2 - calculadora

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  prueba:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Usar Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Ejecutar tests
        run: npm test
